body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  color: #00bcd4;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #bbbbbb;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #2c2c2c;
  color: #ffffff;
  font-size: 14px;
  box-sizing: border-box; /* Prevent overflow */
}


input:focus, select:focus {
  outline: none;
  border-color: #00bcd4;
}

.form-output {
  margin-top: 20px;
  background-color: #262626;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Space between the columns */
}

.output-column {
  width: 48%; /* Adjust width as needed */
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #00bcd4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #008c9e;
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}